body {
  background-color: #90a9ac;
  color: #362a38;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn {
  display: inline-block;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.btn-red {
  background-color: #e74c3c;
}

.btn-red:hover {
  background-color: #c0392b;
}

.card-white .btn {
  display: block;
  margin: 20px auto 0;
  width: fit-content;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}